{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="container-fluid flex mt-3">
    <div class="row justify-content-between">
        <div class="col-1">

        </div>
        <div class="col-5">
            <div class="text-center mt-5">
                <h3>Total {{total_posts}} Posts</h3>
            </div> 

            <div>
            {% for post in posts %}
                <div class="border mb-3 p-2">
                Id: {{post.id}} <br>
                Created by: {{post.user}} <br>
                Title: {{post.title}} <br>
                <a href="{% url 'tution:PostsDetailView' post.id%}">Detail</a>
                {% comment %} <img src="{{post.image.url}}" alt=""> {% endcomment %}
                
                </div>
            {% endfor %}
            </div> 

        </div>  


        <div class="col-4">
            <div class="text-center mt-5">
                <h5>Filter Posts</h5>
            </div> 
            

        
            <form class="" action="{% url 'tution:post_filter' %}" method="post">
                {% csrf_token %}

                <div class="row justify-content-center ms-5">                   
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02" name="subject">
                        <option selected></option>
                        {% for subject in subjects %}
                            <option value="{{subject}}">{{subject}}</option>
                        {% endfor %}
                        </select>
                        <label class="input-group-text" for="inputGroupSelect02">Subjects</label>
                    </div>
                    
                    <div class="input-group mb-3">  
                        <select class="form-select" id="inputGroupSelect02" name="class_in">
                        <option selected></option>
                        {% for class in class_in %}
                            <option value="{{class}}">{{class}}</option>
                        {% endfor %}
                        </select>
                        <label class="input-group-text" for="inputGroupSelect02">Class</label>                            
                    </div>                              
                </div>




                <div class="row justify-content-between ms-5">
                    <div class="col-12">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Salary Range</strong></label>
                    </div>
                    

                    <div class="col-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">From</label>
                        <input type="number" class="form-control" name="salary_from">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">To</label>
                        <input type="number" class="form-control"  name="salary_to">
                    </div>
                </div>



            

                <div class="row justify-content-center ms-5">   
                    <div class="form-check mb-3 ms-4">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="available">
                        <label class="form-check-label" for="flexCheckDefault">
                          Only Available
                        </label>
                    </div>
                  
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary"> Filter </button>
                    </div>                   
                </div>


            </form>
            
        </div> 
        
        <div class="col-1">
        </div>
    </div>
</div>
{% endblock body %}



