{% extends 'base.html' %}

{% block title %} articles home{% endblock title %} 


{% block content %}
<!-- all contents and blocks shoule be inside content block -->

<div style="margin-top:30px; margin-left:100px">
    <br>
    <h4>The below section is randomly choosen.</h4>
    <ul>
        <li>Random title: <a href="{% url 'articles:article_random_detail' rand_obj.id %}">{{ rand_obj.title }}</li></a>
    </ul>
    <p>Refresh the page to see different object.</p>
</div>

<hr>

<div style="margin-top:30px; margin-left:100px">
    <form action="{% url 'articles:article_search_detail' %}" target="_self" method="get"> 
        <!--        
            action="/articles/search/"
            action="{% url 'articles:article_search_detail' %}"
            - both actions are same.
            - action url should be the full url.

            ********************************************************************
            - action first go to ROOT_urls file. 
            - that means it will search '/articles/search/' inside 
            - the root urls.py file where all apps urls are stored.
            - when if finds 'articles/', it will go to the 'articles' app urls.py and look for
            - the remaining 'search/' in app urls.py file
            - when it matches the 'search/' route, it will render the view linked with it
            ********************************************************************

            here action means '/search.html' will be added with current url.
            so url for after clicking submit will be '/articles/search.html'
        -->

        <fieldset>
            <legend>Search articles id for detail</legend>
            <label for="article_id">Enter article ID:</label>
            <input type="text"  name="q", placeholder="article ID" style="opacity: 0.5;"> 
            <input type="submit">
            <br><br>
            <!--
                # here the submitted value will be assigned to 'q'
                # if i type 2 and hit enter or click submit the it wil assign q=2
            -->

            <p><strong>NOTE: If you put random id it will raise 404 error</strong></p>
        </fieldset>
    </form>
</div>

<hr>

<div style="margin-top:30px; margin-left:100px">
    <P><a href="{% url 'articles:article_create' %}">Create New Article</a></P>
    <h2>Here are the list of all titles.</h2>
    <ol>
        {% for obj in all_obj %}    
        <li><a href='/articles/{{obj.id}}/'>{{ obj.title }}</a></li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}
