{% extends 'base.html' %}
{% block title %} create {% endblock title %} 

{% block content %}
<div style="margin-top:30px; margin-left:100px">
    <form action="{% url 'articles:article_search_detail' %}" target="_self" method="get"> 
        <!--        
            action="/articles/search/"
            action="{% url 'articles:article_search_detail' %}"
            - both actions are same.
            - action url should be the full url.

            ********************************************************************
            - action first go to ROOT_urls file. 
            - that means it will search '/articles/search/' inside 
            - the root urls.py file where all apps urls are stored.
            - when if finds 'articles/', it will go to the 'articles' app urls.py and look for
            - the remaining 'search/' in app urls.py file
            - when it matches the 'search/' route, it will render the view linked with it
            ********************************************************************

            here action means '/search.html' will be added with current url.
            so url for after clicking submit will be '/articles/search.html'
        -->

        <fieldset>
            <legend><strong>Search articles id for detail </strong></legend>
            <label for="article_id">Enter article ID:</label>
            <input type="text"  name="q", placeholder="article ID" style="opacity: 0.5;" required> 
            <input type="submit">   
           <!--
                # here the submitted value will be assigned to 'q'
                # if i type 2 and hit enter or click submit the it wil assign q=2
           -->
           <p><strong>NOTE: If you put invalid id, it will raise 404 error</strong></p>
        </fieldset>
    </form>
</div>

<div style="margin-top:30px; margin-left:100px">
{% if not created %}
<!-- The form will show empty -->
    <h4>Enter title and content.</h4>

    <form action="{% url 'articles:article_create_redirect' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label>Title:</label><br>       
            <input type="text" name="title" placeholder="Title" style="opacity: 0.7;" autocomplete="off" required><br>
            <label>Content:</label><br>
            <textarea name="content" placeholder="Content" style="opacity: 0.7;" autocomplete="off" required></textarea>
        </fieldset>        
        <button type="submit" style="margin-top:10px;">Create article</button>
    </form>


{% else %}
<hr>
<p>Your article was created</p>
<p>Click <a href="{% url 'articles:article_detail' obj.id %}">here</a> to see the last created article.</p>
<P><a href="{% url 'articles:article_create' %}">Create New Article</a></P>

{% endif %}
</div>


{% endblock content %}
