{% extends 'base.html' %}

{% block title %} detail{% endblock title %} 

{% block content %}
{% if obj %}
<div style="margin-top:50px; margin-left:200px; margin-right:200px;">
    <h4>Please find the detail below.</h4>
    <table class="table table-striped">
        <tbody>
          <tr>
            <th>ID</th>
            <td>:</td>
            <td>{{ obj.id }}</td>
          </tr>
          <tr>
            <th>Title</th>
            <td>:</td>
            <td>{{ obj.title }}</td>
          </tr>
          <tr>
            <th>Content</th>
            <td>:</td>
            <td>{{ obj.content }}</td>
          </tr>    
        </tbody>
      </table>
</div>

<div style="margin-top:50px; margin-left:200px;">
    <h3>Please find the detail below.</h3>
    <ul>
        <li>Id - {{ obj.id }}</li>
        <li>Title - {{ obj.title }}</li>
        <li>Content - {{ obj.content }}</li>
    </ul>
</div>
   
{% else %}
    <h3 style="display: flex; align-items: center; justify-content: center; height: 500px; border: 5px solid black;">
        Invalid Id
    </h3>
{% endif %}

{% endblock content %}

